@{ViewData["titleHeader"] = "Comment";}
<section id="main-content">
<section class="wrapper">
  <div class="row">
                    <div class="col-lg-12">
                        <section class="panel">
                            <header class="panel-heading">
                                کامنت پست
                            </header>
                            <div class="panel-body">
                                <form role="form" Method = "POST"  id="sell-form-data" class="form-horizontal tasi-form">
                                    <div class="form-group ">
                                        <label class="col-lg-2 control-label">آیدی</label>
                                        <div class="col-lg-10">
                                        <div class="input-group input-group-lg m-bot15">
        `                               <span class="input-group-addon">@@</span>
                                        <input type="text" class="form-control input-lg" placeholder="آیدی" name="user_ID">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label class="col-lg-2 control-label">لینک پست</label>
                                        <div class="col-lg-10">
                                            <div class=" input-group-lg m-bot15">
                                            <input type="text" placeholder="لینک" id="l-name" class="form-control input-lg" name="Link_ID" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-offset-2 col-lg-10">
                                            <button class="btn btn-danger" id="sell-btn-submit" type="submit">ثبت</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            @if((Boolean)ViewBag._havestopTiem==true){
                            <script>
							  var sec = @ViewBag._stopRemindeTIime;
   							 var timer = setInterval(function(){
                                    var final;
        					if(sec>60){
                                var _localtime_min = parseInt(sec/60);
                                var _localtime_sec = sec%60;
                                 final = _localtime_min+':'+_localtime_sec;
                            }else{
                                final = '00:'+sec
                            }
                            document.getElementById('timer').innerHTML=final;
        					sec--;
        					if (sec < 0) {
            				clearInterval(timer);
        							}
    								}, 1000);
							</script>
                            <div class="alert alert-warning alert-block fade in">
                                    <button data-dismiss="alert" class="close close-sm" type="button">
                                        <i class="icon-remove"></i>
                                    </button>
                                    <h4>زمان باقی مانده تا درخواست بعدی</h4>
                                    <h4 id="timer">
                                  </h4>
                                </div>}
                        </section>
                    </div>
                </div>
    </section>
</section>
<script >
$('#sell-btn-submit').confirm({
    title:"هشدار",
    content:"از انچام این عملیات مطمئن هستید؟",
    buttons:{
    بله:function(button){
        $("#sell-form-data").submit();
    },
     خیر: function(button) {
    }}
});
</script>