@{
    ViewData["titleHeader"] = "Home Page";
}


<!--main content start-->
      <section id="main-content" >
          <section class="wrapper">
              <!--state overview start-->
              <div class="row state-overview">
                  <div class="col-lg-4 col-sm-6">
                      <section class="panel">
                          <a href="~/like">
                          <div class="symbol terques">
                              <i class="far fa-thumbs-up"></i>
                          </div>
                          <div class="value">
                              <p><h2 style="font-family: 'Samim', sans-serif;">لایک</h2></p>
                          </div>
                          </a>
                      </section>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                      <section class="panel">
                          <a href="~/follow">
                          <div class="symbol red">
                              <i class="fas fa-user-plus"></i>
                          </div>
                          <div class="value">
                              <p><h2 style="font-family: 'Samim', sans-serif;">فالوو</h2></p>
                          </div>
                          </a>
                      </section>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                      <section class="panel">
                          <a href="~/comment">
                          <div class="symbol yellow">
                              <i class="far fa-comments"></i>
                          </div>
                          <div class="value">
                              <p><h2 style="font-family: 'Samim', sans-serif;">کامنت</h2></p>
                          </div>
                          </a>
                      </section>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <section class="panel">
                        <a href="~/View">
                        <div class="symbol  blue">
                            <i class="far fa-eye"></i>
                        </div>
                        <div class="value">
                            <p><h2 style="font-family: 'Samim', sans-serif;">ویو</h2></p>
                        </div>
                        </a>
                    </section>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <section class="panel">
                        <a href="~/ViewProfile">
                        <div class="symbol orange">
                            <i class="far fa-id-card"></i>
                        </div>
                        <div class="value">
                            <p><h2 style="font-family: 'Samim', sans-serif;">بازدید پروفایل</h2></p>
                        </div>
                        </a>
                    </section>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <section class="panel">
                        <a href="~/ViewStory">
                        <div class="symbol indigo">
                            <i class="fas fa-history"></i>
                        </div>
                        <div class="value">
                            <p><h2 style="font-family: 'Samim', sans-serif;">بازیدید استوری</h2></p>
                        </div>
                        </a>
                    </section>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <section class="panel">
                        <a href="~/SavePost">
                        <div class="symbol teal">
                            <i class="far fa-save"></i>
                        </div>
                        <div class="value">
                            <p><h2 style="font-family: 'Samim', sans-serif;">ذخیره پست</h2></p>
                        </div>
                        </a>
                    </section>
                </div>
              </div>
             
      <!--main content end-->