@{ViewData["title"]="تغییررمز";}
<section id="main-content">
            <section class="wrapper">
<div class="row">
                  <div class="col-lg-4" style="margin-botton:20px;">
                        <section class="panel" >
                            <header class="panel-heading" style="float:right">
                            </header>
                            <h3>
                            <div class="panel-body">
                                <form action="changepassword" method="POST">
                                   <div class="form-group" >
                                        <input type="password" id="login-password" placeholder="رمز فعلی" style="display:inline" name="old">
                                    </div>
                                    <div class="form-group" >
                                        <input type="password" id="login-password" placeholder="رمز جدید" style="display:inline" name="newpass">
                                    </div>
                                    <div class="form-group" >
                                        <input type="password" id="login-password" placeholder="تکرار رمزجدید" style="display:inline" name="retrypass">
                                    </div>
                                    <button type="submit" id="sell-btn-submit" class="btn btn-lg btn-info" style="float:right;margin-top:10px;">تغییر</button>
                                </form>

                            </div>
                            </h3>
                             @if(ViewBag.message!=null){
                      <div style="margin-top=20px;float:right;">
                          <h3>
                          <div class="alert alert-info">
                                @ViewBag.message
                            </div>
                      </h3>
                      </div>
                      }
                        </section>
                    </div>
</div>
</section>
</section>
<script >
$('#sell-btn-submit').click(function(){
    if(confirm("از درستی اطلاعات زیر اطمینان دارید؟")){
        $('#default').submit();
    }
});
</script>