@{
    Layout = "_webLayout";
    ViewBag.titleHeader = "home";
}
<section class="engine"><a href="https://mobirise.info/u">bootstrap responsive templates</a></section><section class="cid-rwwDnLcGFd mbr-fullscreen mbr-parallax-background" id="header2-g">

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);"></div>

    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">کافه اینستا پنل تخصصی خدمات مارکتینگ اینستاگرام&nbsp;</h1>
                <p class="mbr-text pb-3 mbr-fonts-style display-5">
                    ما در کافه اینستا تلاش داریم کامل ترین و بهترین خدمات مارکتینگ شبکه های مجازی را به شما کاربران عزیز ارائه دهیم،خدماتی که تیم ما روز به روز در حال بهتر کردن و تکمیل کردن آن است.خرسندیم که در این مسیر به ما اعتماد کردید

                </p>                
            </div>
        </div>
    </div>
    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>

<section class="features6 cid-rwwGi4UJIG" id="features6-s">
    
    

    
    <div class="container">
        <div class="media-container-row">

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <span class="mbri-bootstrap mbr-iconfont"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-7">ارزان ترین</h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                      ما در کافه اینستا پایین ترین قیمت هارا برای خدمات تخصصی خود دریافت می کنیم
                    </p>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <span class="mbri-touch mbr-iconfont"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-7">متنوع ترین خدمات</h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                     می توان بدرن شک گفت ما در کافه اینستا برای تمام مشکلات شما یک داه حل داریم
                    </p>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <span class="mbri-responsive mbr-iconfont"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-7">پشتیبانی </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                   پشتیبانی ما در سریع ترین زمان ممکن به مشکلات شما رسیدگی می کند
                    </p>
                </div>
            </div>

            

        </div>

    </div>

</section>

<section class="features6 cid-rwwGiosG8R" id="features6-t">
    
    

    

</section>
@if(ViewBag.panel_Data!=null){
<section class="pricing-table2 cid-ryKbKiGHOJ" id="pricing-tables2-x">

    <div class="container">
        <div class="media-container-row">
            @foreach(var item in ViewBag.panel_Data){
            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-@ViewBag.panel_Data_counter">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">
                        @item.name
                    </h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">
                            $
                        </span>
                        <span class="price-figure mbr-fonts-style display-1">
                            @item.amount</span>
                        <small class="price-term mbr-fonts-style display-7">
                            تومان
                        </small>
                    </div>
                </div>
                <div class="plan-body">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            @foreach(var option in item.OptionData){
                            <li class="list-group-item">
                                @option.name
                            </li>
                            }
                        </ul>
                    </div>
                    <div class="mbr-section-btn text-center py-4 pb-5"><a href="~/web/buy/@item.id" class="btn btn-primary display-4">خرید</a></div>
                </div>
            </div>
            }
        </div>
    </div>
</section>
}
